@import '../../variables.scss';
// ==================================================
// For Component Transaction/MobileTable
// ==================================================
@keyframes slidetoLeft {
    0% {
        transform: translateX(200%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
    }
}
.table__mobile {

    .item {
        &.slide-from-right {
            opacity: 0;
            animation: slidefromRight .5s cubic-bezier(0, .66, .65, 1.03) forwards;
            animation-delay: .5s;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * ( 0.2 - $i*0.005 )}s;
                }
            }
        }
        padding-left: 10px;
        padding-bottom: 6px;
        border-bottom: 1px solid $line-color;

        .field {
            display: flex;
            align-items: center;
            font-size: .95em;
            font-weight: 400;
            margin-bottom: 10px;

            label {
                min-width: 115px;
                max-width: 200px;
                font-size: .65em;
                font-weight: 700;
                text-transform: uppercase;
                color: $list-item-text-color;
            }

            .value {
                font-size: 1em;
            }

            a {
                text-decoration: none;
            }

            &.id {
                .icon {
                    background-color: $mobile-box-bgcolor;
                    padding: 5px;
                    border-radius: 8px;
                    margin-right: 8px;

                    svg {
                        margin-top: -5px;
                        fill: $subtitle-text-color;
                    }
                }

                .link {
                    a {
                        font-size: .98em;

                        span {
                            margin-right: 5px;
                        }
                    }
                }

                .time {
                    color: $time-text-color;
                    font-size: .9em;
                }
            }

            &.action {
                align-items: flex-end;
                padding: 0;
            }

            &.status {
                .custom-badge {
                    padding: 2.5px 8px;
                    font-size: .7em;
                    font-weight: 600;
                    letter-spacing: .4px;
                    
                    color: #fff;
                    border-radius: 8px;

                    &.success{
                        background-color: $success-color;
                    }
                }
            }

            &.from {
                span {
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }

            &.to {
                .value {
                    a {
                        .img-box {
                            margin-right: 5px;
                        }
                    }
                }
            }

            &.value {
                .value {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}