@import '../variables';
@import '../common';

// ==================================================
// For Component TransactionLayout/Footer
// ==================================================
footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: $bgfooter-color;
    padding: 20px 0 30px;
    @include media-breakpoint-up( lg ){
        padding: 16px 0;         
    }
    // ---------- 01 FOOTER CONTAINER ------------------ 
    .footer-container {
        margin: 0;
        padding: 0 1em;
        width: 100%;
        max-width: 100%;

        @include media-breakpoint-up(xl) {
            padding: 0 2em;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 1280px;
            margin: 0 auto;
        }
        & > div{
            padding: 0;
            margin: 0;
        }
        
        // ---------- 01.1 FOOTER SPONSOR AREA ------------------
        @import '../components/footer/sponsor';

        // ---------- 01.2 FOOTER VISIT AREA ------------------
        @import '../components/footer/visit';
        
        // ---------- 01.3 FOOTER SOCIAL AREA ------------------
        @import '../components/footer/social';
    }
}