$badge-text-size: 0.65em;
$input-text-size: 1em;
$input-stroke-gray-color: #8f9bb3;
$input-text-gray-color: #adb8cf;
$bgcolor-info: #e9f5fe;
$color-info: #1273ea;

// COMMON
.background-info {
  background-color: $bgcolor-info !important;
  color: $color-info !important;
}
.select_box {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px $bgcolor-info, 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: 0.3s;
  transform: translateY(0);
  z-index: 1;
    // TYPE 1 : BRANDING
  &.branding__badge_select_box {
    transform: translateY(100%);
    padding: 8px;
    width: 150%;
    max-width: 230px;
    .item {
      color: #000;
      font-size: 0.9em;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      padding: 8px 0;
      &:hover {
        text-decoration: underline $color-info;
        background-color: #f0f5f8;
      }
      .custom-dot {
        padding: 10px;
        margin: 0;
        svg {
          stroke-width: 0.3px;
        }
      }
    }
  }
  
    // TYPE 2 : BRANDING
  &.navigation__list_select_box {
    min-width: 240px;
    max-width: 250px;
    &#accounts-box {
      left: 50%;
      transform: translateY(5px);
    }
    &#tokens-box {
      right: 0%;
      font-size: 1em;
      transform: translateY(5px);
    }
    .item {
      cursor: pointer;
      padding: 5px 15px;
      margin: 8px;
      text-align: left;
      font-size: 0.9em;
      border-radius: 8px;
      &:not(:first-child) {
        margin-top: 5px;
      }
      &:hover {
        background-color: $bgcolor-info;
        color: $color-info;
      }
    }
    .line {
      margin: 8px 0;
      height: 0.1px;
      width: 100%;
      background-color: #c5cee0;
    }
  }
}

// SPECIFIC
header {
  position: relative;
  height: auto;
  nav {
      height: 100%;
    // -------------------------BRANDING ------------------------
    .branding__area {
      position: relative;
      //   #01 : LOGOBOX
      .logobox {
        svg {
          @include media-breakpoint-up(xl) {
            width: 100px;
            height: 40px;
          }
        }
      }
      //   #02 : BADGE BOX
      .branding__badge_box {
        //   #02.1: BADGE
        .custom-badge {
          font-size: $badge-text-size;
          line-height: calc($badge-text-size);
          margin: 0 10px;
          padding: 7px;
          overflow: hidden;
          border-radius: 10px;
          letter-spacing: -0.5px;
          font-weight: bold;

          @include media-breakpoint-up(xl) {
            margin-left: 5px;
            margin-right: 10px;
          }
        }
        // #02.1.1 : SELECT BUTTON
        .select-btn {
          border-radius: 10px;
          padding: 5px 10px;

          &:hover {
            background-color: $bgcolor-info;
          }

          svg {
            width: 0.7em;
          }
        }
      }
    }
    // -------------------------NAVIGATION ------------------------
    .navigation__area {
      position: relative;
      max-width: 700px;
       //  #01 : BTN  
      .btn {
        svg {
          width: 1.2em;
          height: 1.2em;
        }
      }
        //   #02 : LISTBOX
      .list-box {
        height: 100%;
        padding: 0;
        margin:  0;
        align-items: center;
        justify-content: center;
        padding-left: 10px;

        .list {
            max-height: 40px;

          .item {
            position: relative;
            display: inline-block;
            margin-left: 0px;
            margin-right: 18px;
            padding: 5px 18px;
            border-radius: 8px;
            cursor: pointer;

            &.active,
            &:hover {
              background-color: $bgcolor-info;
              font-weight: 600;
              text-decoration: none;

              a {
                color: $color-info;
              }

              .btn > svg {
                color: $color-info;
              }
            }

            a {
              color: #000;
              font-size: .94em;
              line-height: .94em;
              font-weight: 600;
              text-decoration: none;
            }

            .btn {
              margin-left: 10px;

              svg {
                width: 0.6em;
                line-height: 0.6em;
              }
            }
          }
        }
      }
    }
    // -------------------------SEARCHING ------------------------
    .searching__area {
    //  #01 : INPUTBOX  
        @include media-breakpoint-up(lg) {
          padding: 0;
          margin: 0;
        }
      .inputbox {
        position: relative;
        margin: 1em 0.3em 1em 0em;
        width: auto;
        @include media-breakpoint-up(lg) {
          width: 103%;
        }

        @include media-breakpoint-up(xl) {
          width: 103%;
        }

        input[type="text"] {
          padding: 0.5em 3em;
          max-height: 3em;
          border-radius: 0.5em;
          font-size: $input-text-size;
          border-color: $input-text-gray-color;
          outline: none;
        }

        svg {
          top: 50%;
          left: 0.8em;
          width: 1.3em;
          height: 1.3em;
          position: absolute;
          transform: translateY(-50%);

          path {
            stroke: $input-stroke-gray-color !important;
            stroke-width: 2.5;
          }
        }
      }
    }
  }
}
