.header-wrapper {
    position: relative;
}

.btn-login {
    padding: 8px 20px;
    background-color: $color-primary-4;
    border: 1px solid $color-primary-4;
    border-radius: 4px;
    font-size: 16px;
}

.navigator-page {
    background-color: $color-gray-6;

    .logo-container {
        padding: 8px 12px;
    }

    .hambuger-menu {
        padding: 0 20px;
        color: white;
        font-size: 20px;
    }

    .btn-login {
        border-radius: 0;
        padding: 0px 20px;
        height: 100%;
    }

    .btn-tab {
        padding: 0 20px;
        font-size: 14px;

        &.active {
            background-color: $color-gray-5;
        }

        svg {
            font-size: 18px;
        }
    }

    .btn-product-menu {
        padding: 0 8px;
        svg {
            &:nth-child(1) {
                font-size: 18px;
            }
            &:nth-child(2) {
                font-size: 9px;
                color: $color-gray-2;
                margin-left: 8px;
            }
        }
    }
}

.navigator-cat {
    padding: 12px 8px;
    background-color: $color-gray-5;
    border-bottom: 1px solid $color-gray-3;
    border-top: 1px solid $color-gray-5;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    .category-link-wrapper-mo {
        width: 160px;
        .btn-selected {
            background-color: $color-gray-3;
            border: none;
            border-radius: 4px;
            font-weight: 700;
        }
    
        .list-option {
            ul {
                border-radius: 4px;
                background-color: $color-gray-3;
            }
    
            .option {
                border: none;
                font-weight: 700;
            }
    
            > div {
                margin-top: 4px;
            }
        }
    }

    .btn-filter {
        padding: 8px 20px;
        border-radius: 4px;
    }

    .category-link-wrapper-pc {
        a {
            padding: 16px 20px;
            position: relative;

            .btn-cat {
                padding: 0;
                border: none;
                color: $color-gray-1;
                font-weight: 700;

                &.active {
                    color: white;
                    background-color: inherit;
                }
            }

            .bottom-bar {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: transparent;
                
                &.active {
                    background-color: $color-primary-3;
                }
            }
        }
        
    }
}