.header {
    background-color: $color-gray-6;

    .logo-container {
        padding: 8px 12px;
    }

    .hambuger-menu {
        padding: 0 20px;
        color: white;
        font-size: 20px;
    }
}

.navigator {
    padding: 12px 8px;
    background-color: $color-gray-5;
    border-bottom: 1px solid $color-gray-2;

    .item-dropdown {
        padding: 8px 12px;
        color: white;
        font-size: 14px;
        border: 1px solid $color-gray-2;
        border-radius: 4px;

        .item-start-icon {
            width: 24px;
            height: 24px;
        }
    }

    .category-dropdown {
        background-color: $color-gray-3;
        width: 120px;
        border: none;
        font-weight: 700;
    }

    .filter-button {
        padding: 8px 20px;
    }
}