.blur-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $color-gray-5, $alpha: 0.5);
}

.veil {
    position: absolute;
    width: 100%;
    height: 100vh;
}