@import './components/header';
@import './components/footer';
$subtitle-text-color: #57627b;
// COMMON
.custom-container {
    margin: 0;
    padding: 0 1em;
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(xl) {
        padding: 0 2em;
    }

    @include media-breakpoint-up(xxl) {
        max-width: 1280px;
        margin: 0 auto;
    }
}

// SPECIFIC
.transaction{
    padding: 0;
    margin: 20px 0 50px 0;
    // ------ 01 TITLE ----------------
    .transaction__title_panel{
        // ---- 01.1 TITLE BOX ------
        .title-box{
            .title{
                font-weight: 600;
                font-size: 1.5em;
                padding: 0;
                margin: 0;
            }
            .subtitle{
                padding: 0;
                margin-top: 5px;
                font-size: .97em;
                color: $subtitle-text-color;
            }
        }
        // ---- 01.2 PAGINATION BOX ------
        .pagination-box{

            .sub-box{
                &.desktop-box{
                    
                }
                &.mobile-box{
                    .modal-box{

                    }
                }
            }
        }    
    }
}