// ==========================================
// Header
// ==========================================
$badge-text-size: 0.65em;
$input-text-size: 1em;
$input-stroke-gray-color: #8f9bb3;
$input-text-gray-color: #adb8cf;
$bgcolor-info: #e9f5fe;
$color-info: #1273ea;
// ==========================================
// Footer
// ==========================================
$bgfooter-color : #f5f8fc;
$sponsor-color:  #57627b;
$line-vertical-color: #c5cee0;
$sponsor-logo-color: #4c98ff;
$sponsor-name-color: #1d273d;
$border-color: #dee6f1;
$hover-color: #1273ea;
// ==========================================
// Transaction
// ==========================================
$subtitle-text-color: #57627b;
$time-text-color: #8fa8ce;
$mobile-box-bgcolor: #f5f8fc;
$bgcolor-info: #e9f5fe;
$color-info: #1273ea;
$nonactive-btn-color: #b1d1f8;
$success-color : #0c8;
$line-color: #eef;
$list-item-text-color: #606a82;
$time-text-color-desktop: #8f9bb3;