.btn-df {
    padding: 8px 12px;
    color: white;
    font-size: 14px;
    border: 1px solid $color-gray-2;
    border-radius: 0;
    background-color: transparent;

    &.active {
        background-color: $color-primary-6;
        border: 1px solid $color-primary-4;
    }
}

.check-box-df {
    input[type="checkbox"] {
        display: none;
    }
    .checkbox-square {
        width: 20px;
        height: 20px;
        background-color: black;
        border: 1px solid $color-gray-3;
        border-radius: 4px;
        font-size: 10px;
        color: transparent;

        &.active {
            background-color: $color-primary-4;
            border: 1px solid $color-primary-4;
            color: white;
        }
    }
}

.slider-tracking-wrapper-df {
    margin-top: 24px;

    .tracking-bar {
        position: relative;
        height: 4px;
        background-color: $color-primary-4;

        .tracking-start-pointer,
        .tracking-end-pointer {
            position: absolute;
            color: $color-gray-1;
            font-size: 12px;
            cursor: pointer;

            .tracking-flag {
                color: white;
                font-size: 12px;
            }
        }

        .tracking-start-pointer {
            transform: translate(-4px, -25%);
        }
        .tracking-end-pointer {
            right: 0;
            transform: translate(4px, calc(-25% - 1px));
        }
    }
}