.m-auto {
    margin: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.pointer {
    cursor: pointer;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}
