.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.veil-open {
    overflow: hidden;
}

html, body {
    color: white;
}

button,
input {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}