.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.z-negative {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}

.z-1000 {
    z-index: 1000;
}

.z-1010 {
    z-index: 1010;
}

.z-1020 {
    z-index: 1020;
}

.z-1030 {
    z-index: 1030;
}

.z-1040 {
    z-index: 1040;
}

.z-1050 {
    z-index: 1050;
}

.z-1060 {
    z-index: 1060;
}

.z-1070 {
    z-index: 1070;
}

.z-1080 {
    z-index: 1080;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.veil-open {
    overflow: hidden;
}

html, body {
    color: white;
}

button,
input {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}