@import '../../variables';

// ==================================================
// For Component Footer/Visit
// ==================================================
.footer__visit_area {
    padding-bottom: 20px;
    @include media-breakpoint-up( lg ){
        padding-bottom: 0;
    }

    .list{
        display: flex;
        
        .sublist{
            width: 50%;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-up( lg ){
                    width: auto;
                    flex-direction: row;
                    align-items: center;
            }
        .item{ 
            &.head{
                padding-bottom: 10px;
            }
            &:hover{
                a{
                    color: $hover-color;
                }
            }
            a{
                color: #000;
                font-weight: 600;
                font-size: .95em;
                text-decoration: none;
            }
            @include media-breakpoint-up( lg ){
                &.head{
                    padding-bottom: 0px;
                }
                margin: 0 12px;
            }
            }
        }
    }
}