.main-content-wrapper {
    position: relative;

    .search-result-container {
        padding: 0;
        position: relative;

        @include media-breakpoint-up(md) {
            order: 2;
    
            @include flex(calc(100% - 280px))
        }
    }

    .filter-container {
        padding: 0;

        @include media-breakpoint-up(md) {
            order: 1;
    
            @include flex(280px);
        }
    }
}

.filter-wrapper,
.search-result-wrapper {
    height: calc(100vh - 110px);
    background-color: $color-gray-5;
    overflow-y: scroll;
    padding: 12px 8px;
    position: relative;

    @include media-breakpoint-up(md) {
        @include custom-scroll-bar();
    }
}

.search-result-wrapper {
    @include media-breakpoint-up(md) {
        padding: 24px 32px;
    }

    .sort-price {
        width: 160px;
        .btn-selected {
            padding: 8px 20px;
            border-radius: 4px;
            transition: 0.25s;

            &:hover {
                border: 1px solid $color-gray-1;
                transition: 0.25s;
            }
        }

        .list-option {
            .option {
                background-color: $color-gray-6;
                padding: 8px 20px;
                border: none;
            }
        }
    }

    .display-tile {
        @include media-breakpoint-up(md) {
            margin-left: 8px;
        }

        button {
            font-size: 18px;
            padding: 0 10px;

            &:nth-child(1) {
                border-radius: .25rem 0 0 .25rem;
            }

            &:nth-child(2) {
                border-radius: 0 .25rem .25rem 0;
            }

            @include media-breakpoint-up(md) {
                width: 39px;
                height: 39px;
            }
        }
    }

    .search-result-content {
        margin-top: 12px;

        .product-amount {
            color: white;
            font-size: 20px;

            @include media-breakpoint-up(md) {
                font-size: 28px;
            }
        }

        .sort-sale {
            width: 160px;

            @include media-breakpoint-up(md) {
                margin-left: 8px;
            }

            .btn-selected {
                padding: 8px 20px;
                border-radius: 4px;
                transition: 0.25s;

                &:hover {
                    border: 1px solid $color-gray-1;
                    transition: 0.25s;
                }
            }
    
            .list-option {
                .option {
                    background-color: $color-gray-6;
                    padding: 8px 20px;
                    border: none;
                }
            }
        }

        .product-tile-container {
            margin-top: 24px;

            @include media-breakpoint-up(md) {
                margin-right: 0;
                margin-left: 0;
            }

            .product-tile-list {
                padding: 0 8px;

                @include media-breakpoint-up(lg) {
                    max-width: 90%;
                }

                @include media-breakpoint-up(xl) {
                    max-width: 85%;
                }

                @include media-breakpoint-up(xxl) {
                    max-width: 95%;
                }

                @include media-breakpoint-up(xxl) {
                    max-width: 97%;
                }

                .product-tile {
                    margin: 4px 0px;
                    padding: 0 4px;
                    @include flex(50%);
    
                    // Tablet
                    @include media-breakpoint-up(md) {
                        margin: 8px 0px;
                        padding: 0 8px;
                    }

                    // Table Ipad Pro
                    @include media-breakpoint-up(lg) {
                        @include flex(33.33%);
                    }

                    // Desktop
                    @include media-breakpoint-up(xl) {
                        @include flex(24%);
                    }

                    @include media-breakpoint-up(xxl) {
                        @include flex(20%);
                    }

                    @include media-breakpoint-up(fhd) {
                        @include flex(14.28%);
                    }
        
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 12px;
        
                        .card {
                            background: $color-gray-4;
                            border: 1px solid $color-gray-3;

                            &:hover {
                                border: 1px solid $color-gray-6;
                                @extend .shadow-lg;
                            }
                        }
            
                        .card-body {
                            padding: 16px 12px;
        
                            .product-id {
                                background-color: $color-warning-4;
                                padding: 2px 8px;
                                border-radius: 4px;
                            }
        
                            .breed-count {
                                color: $color-gray-2;
                            }
        
                            .product-name {
                                margin: 8px 0 4px;
                            }
        
                            .price-container {
                                font-size: 16px;
                                text-align: center;
                                padding-bottom: 16px;

                                @include media-breakpoint-up(md) {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        margin-top: 16px;
        margin-bottom: 32px;

        .pagination-wrapper {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 70%;
            }

            @include media-breakpoint-up(xl) {
                width: 50%;
            }

            .pagination-track {
                input {
                    padding: 8px 12px;
                    background-color: $color-gray-6;
                    border: 1px solid $color-gray-3;
                    color: white;
                    width: 50px;
                    font-size: 12px;
                    border-radius: 4px;
                }
            }
    
            .btn-paging {
                padding: 8px 20px;
                font-size: 20px;
                border-radius: 4px;
            }
        }
    }
}